<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="content-type" content="text/html" ; charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="container">
    <header>
        <h1 class="display-4">
            <%= title %>
        </h1>
    </header>
    <div role="main">
        <table class="table">
            <tr>
                <th>NAME</th>
                <td>
                    <%= user.name %>
                </td>
            </tr>
            <tr>
                <th>PASSWORD</th>
                <td>
                    <%= user.pass %>
                </td>
            </tr>
            <tr>
                <th>MAIL</th>
                <td>
                    <%= user.mail %>
                </td>
            </tr>
            <tr>
                <th>AGE</th>
                <td>
                    <%= user.age %>
                </td>
            </tr>
            <tr>
                <th></th>
                <td></td>
            </tr>
        </table>
        <form action="/users/delete" method=POST>
            <input type="hidden" name="id" value="<%= user.id %>">
            <input type="submit" class="btn btn-primary" value="削除">
        </form>
    </div>
</body>

</html>